<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Management System</title>
    <link rel="stylesheet" href="static/login.css">
    <link rel="stylesheet" href="static/login_fonts.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='base_font.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="abc">
        <video autoplay loop muted plays-inline class="video">
            <source src="static/Images/video.mp4" type="video/mp4">
        </video>
        <div class="div_container_1">
            <h1>RESTAURANT MANAGEMENT SYSTEM</h1>
        </div>
    </div>
    <div class="example div_container_2">
        <div class="form-div-1 example">
            <form action="{{url_for('login')}}" method='POST'>
                <div class="form-group form-div-2 example">
                    <label for="name">Enter Username</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter Username">
                </div>
                <div class="form-group form-div-2 example">
                    <label for="exampleInputPassword1">Enter Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="pw"
                        placeholder="Password">
                </div>
                <div style="text-align: center;" class="form-div-2 example">
                    <button style="font-size: larger;" type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>